<template>
	<v-list v-model:opened="étendue">
		<v-list-group :key="banque.nom" :value="banque.nom" v-if="sous_banques == null || sous_banques.length > 0">

			<template v-slot:activator="{props}">
				<v-list-item v-bind="props" @click="sélectionner(banque)">
					{{nom}}
				</v-list-item>
			</template>

			<v-list-item v-for="(sous_banque, id) in sous_banques" :key="`banque-${id}`">
				<v-list-item-title>
					<Banque :banque="sous_banque"/>
				</v-list-item-title>
			</v-list-item>
			
			<Questions v-if="petit_écran" :banque="banque" />
		</v-list-group>
		<v-list-item v-else @click="sélectionner(banque)">
			<v-list-item-title>
				{{nom}}
			</v-list-item-title>

			<Questions v-if="petit_écran" :banque="banque" />
		</v-list-item>
	</v-list>
</template>
<script src="./banque.js"></script>
