<template>
	<v-dialog
		v-model="visible"
		width="50%"
	>
		<v-card>
			<v-card-title>{{ $t("banque_question.titreNouvelleBanque") }}</v-card-title>
			<template v-slot:actions>
				<v-form @submit.prevent="ajouterBanque" v-model="banqueValide"  style="width: 100%">
					<v-text-field id="nouvelle_banque_nom" v-model.trim="nouvelle_banque.nom" :label="$t('banque_question.champNomBanque')" :rules="[validations.obligatoire]"></v-text-field>
					<v-text-field id="nouvelle_banque_url" v-model.trim="nouvelle_banque.url" :label="$t('banque_question.champUrlBanque')" type="url" :rules="[validations.obligatoire, validations.url]"></v-text-field>
					<v-btn type="submit" color="primary" :disabled="!banqueValide">{{ $t("banque_question.boutonAjouter") }}</v-btn>
					<v-btn @click="visible=false">{{$t("banque_question.annuler")}}</v-btn>
				</v-form>
			</template>
		</v-card>
	</v-dialog>
</template>

<script src="./nouvelle_banque.js"></script>
