<template>
	<v-list class="full-flex">
		<v-container v-if="banque" style="background: transparent">
			<v-row>
				<v-col cols="12" sm="12" md="4" xl="3" v-for="(question, id) in banque.questions" v-bind:key="id">
					<v-list-item>
						<v-list-item-title>
							<v-form method="POST" name="form" action="/lti/deeplink">
								<input type="hidden" name="ltik" :value="ltik">
								<input type="hidden" name="title" :value="question.titre">
								<input type="hidden" name="src" :value="url_décodé(id)">
								<input type="hidden" name="description" value="">

								<v-card variant=tonal
									@click="ouvrirNouvelExercice( id )">
									<v-card-title :title="question.titre">
										{{ question.titre }}
										<v-badge v-if=question.niveau :content="question.niveau" inline color="info" title="niveau"></v-badge>
									</v-card-title>
									<v-card-subtitle title="objectif">
										<p class="text-wrap">
											{{ question.objectif }}
										</p>
									</v-card-subtitle>
									<v-card-text title="description">
										<p class="text-wrap">
											{{ question.description }}
										</p>
									</v-card-text>

									<div v-if="ltik">
										<v-divider class="mx-4"></v-divider>
										<v-card-actions>
											<v-btn @click="ouvrirNouvelExercice">{{$t('banque_question.essayerUneQuestion')}}</v-btn>
											<v-btn type="submit">{{$t('banque_question.sélectionnerLaQuestion')}}</v-btn>
										</v-card-actions>
									</div>
								</v-card>

							</v-form>
						</v-list-item-title>
					</v-list-item>
				</v-col>
			</v-row>
		</v-container>
	</v-list>
</template>

<script src="./questions.js"></script>
