<template>
	<div class="barre-énoncé">
		<div
			v-if="état_réussi"
		>
			<v-icon color="success" icon="mdi-checkbox-marked-circle-outline" class="crochet" size="3.5rem" transition="scale-transition">
			</v-icon>
		</div>
		<div class="encadré-titre">
			<div
				class="entête row"
				présentation_étape="0.1"
			>
				<div
					class="énoncéPlacement"
					:class="{'PasDeDifficulté':question.niveau==null}"
				>
					<h3 class="titre align-self-start">
						{{ question.titre }}
					</h3>
				</div>
				<span
					id="niveauQuestion"
					class="badge niveau"
					présentation_étape="0.2"
				>
					{{ question.niveau }}
				</span>
			</div>
			<div class="description" v-if="question.objectif">
				{{$t("énoncé.objectif")}} {{ question.objectif }}
			</div>
			<div class="description" v-if="!question.objectif && question.description">
				{{ question.description }}
			</div>
		</div>
		<div class="section-énoncé-texte"
			présentation_étape="0.3">
			<v-tabs v-model="tab"
				v-if="question.énoncé.length>1"
				density="compact">

				<v-tab v-for="page in question.énoncé" :key="page.titre" :value="page.titre"
					size="small"
				>
					{{page.titre}}
				</v-tab>
			</v-tabs>

			<v-window v-model="tab"
				style="overflow: auto; height: 100%">
				<v-window-item
					v-for="page in question.énoncé"
					:key="page.titre"
					:value="page.titre">
					<v-card flat>
						<!-- eslint-disable-->
						<v-card-text v-html="page.texte"></v-card-text>
						<!-- eslint-enable-->
					</v-card>
				</v-window-item>
			</v-window>
		</div>
		<div
			v-if="question.auteur"
			class="d-flex"
			:title="$t('énoncé.auteur')"
		>
			<v-icon icon="mdi-account-multiple" class="icone" />
			<p class="footer-auteur">
				{{ question.auteur }}
			</p>
		</div>
		<div
			v-if="question.licence"
			class="d-flex"
			:title="$t('énoncé.licence')"
		>
			<v-icon icon="mdi-copyright" class="icone" />
			<p class="footer-license">
				{{ question.licence }}
			</p>
		</div>
	</div>
</template>

<script src="./enonce.js"></script>
<style scoped src="./enonce.css"></style>

