.barre-énoncé {
	overflow: hidden;
	height: 100%;
	display: flex;
	padding-top: 0.75rem;
	flex-flow: column;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	padding-bottom: 0.8rem;
	margin-left: 0.5rem;
}


.énoncé-padding {
	padding-left: 2.5rem;
}

.entête {
	padding-right: 2rem;
}

.encadré-titre {
	background: #00000025;
	margin-right: 0.25rem;
	padding: 0.25rem;
	border-radius: 0;
}

.titre {
	font-size: 1.5em;
	font-weight: bold;
}

.description {
	font-size: 0.8rem;
}

.crochet {
	position: fixed;
	top: 4rem;
	left: 3.5rem;
}

h3 {
	font-size: 1em;
	font-weight: bold;
}

.encadré {
	padding-top: 5px;
}

.état {
	position: relative;
	left: -30px;
	top: 20px;
	font-size: 2em;
	visibility: hidden;
	color: #008000;
}

.état.réussi {
	visibility: visible;
}

.énoncéPlacement {
	width: fit-content;
	max-width: 75%;
}

.énoncéPlacement.PasDeDifficulté {
	width: fit-content;
	max-width: 100%;
}

.badge.niveau {
	/*Bug? badge par lui-même ne fonctionne pas.*/
	background-color: rgb(13, 202, 240);
	position: relative;
	width: max-content;
	height: max-content;
	white-space: normal;
	max-width: 25%;
	word-wrap: break-word;
	margin-left: auto;
}

.thème_sombre .badge.niveau {
	background-color: rgb(13, 202, 240, 70%);
}


.section-énoncé-texte {
	opacity: 1;
	flex: 1;
	box-sizing: border-box;
	position: relative;
	padding-right: 0.25rem;
	overflow: hidden;
}

.ps {
	height: 100%;
}

p.footer-auteur {
	font-size: 0.8rem;
	color: #80808080;
	margin-bottom: 0.25rem;
}

p.footer-license {
	font-size: 0.8rem;
	color: #80808080;
}

p.texte_énoncé {
	margin-left: 0;
	padding-right: 1.25rem;
}

.section-bouton-affichage {
	padding: 0.25rem;
	position: sticky;
	float: right;
}

/* ------------------------------ Media Queries ---------------------------------*/
/* ---------------- 0 - 36rem (0 - 576px)  -----------------*/
@media (max-width: 36rem) {
	.badge.niveau {
		margin-right: 1rem;
		padding-bottom: 0.1rem;
		font-size: 0.7rem;
	}

	p.texte_énoncé {
		font-size: 0.85em;
	}

	p.footer-license {
		font-size: 0.7rem;
	}

	p.footer-auteur {
		font-size: 0.7rem;
	}

	.titre {
		padding-top: 0.8rem;
		font-size: 1.2em;
	}

	h3 {
		font-size: 1rem;
	}


}

/* --------------- 36rem - 48rem (576px - 768px)  -----------------*/
@media (min-width: 36rem) and (max-width: 48rem) {
	.badge.niveau {
		margin-right: 1rem;
		padding-bottom: 0.1rem;
		font-size: 0.7rem;
	}

	p.texte_énoncé {
		font-size: 0.9em;
	}

	p.footer-license {
		font-size: 0.7rem;
	}

	p.footer-auteur {
		font-size: 0.7rem;
	}

	.titre {
		padding-top: 0.4rem;
		font-size: 1.3em;
	}

	h3 {
		font-size: 1.09rem;
	}
}

/* ------------- 48rem - 62rem (768px - 992px) ---------------- */
@media (min-width: 48rem) and (max-width: 62rem) {
	.badge.niveau {
		margin-top: 0.2rem;
		padding-bottom: 0.1rem;
		font-size: 0.8rem;
	}

	p.texte_énoncé {
		font-size: 1em;
	}

	.titre {
		padding-top: 0.4rem;
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.14rem;
	}

	.max-height {
		max-height: 97%;
	}
}

/* ---------- 62rem - 75rem (992px - 1200px) -------------- */
@media (min-width: 62rem) and (max-width: 75rem) {
	.badge.niveau {
		margin-top: 0.2rem;
		padding-bottom: 0.1rem;
		font-size: 0.8rem;
	}

	p.texte_énoncé {
		font-size: 1em;
	}

	.titre {
		padding-top: 0.4rem;
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.16rem;
	}
}

/* ---------- 75rem et + (1200px et +) ---------------- */
@media (min-width: 75rem) {
	.badge.niveau {
		margin-top: 0.2rem;
		font-size: 0.8rem;
		padding-bottom: 0.1rem;
	}

	p.texte_énoncé {
		font-size: 1em;
	}

	.titre {
		padding-top: 0.35rem;
		font-size: 1.5em;
	}

	h3 {
		font-size: 1em;
	}
}

/* ---------- 75rem et + (768px et +) ---------------- */
@media only screen and (min-width: 48rem) {
	.section-bouton-affichage {
		width: 2.5rem;
		padding: 0.25rem;
		border-bottom: none;
	}

	.énoncé-padding {
		padding-right: 0.938rem;
	}
}
