<template>
	<div
		class="d-flex"
		style="flex-flow: row"
		v-shortkey="raccourcis.réinitialiser"
		@shortkey="reinitialiserCodeEditeur(langage)"
	>
		<div class="barre-menu-langage">
			<div
				id="menu_historique"
				présentation_étape="4.0"
				class="dropdown-toggle"
				type="button"
				style="display: inline-block"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				{{ langage_capitalisé }}
			</div>
			<ul
				id="langage-dropdown"
				class="dropdown-menu"
				aria-labelledby="langage-dropdown"
				:class="{ thème_sombre: thèmeSombre }"
			>
				<li
					v-for="langage in langages"
					:key="langage"
					class="dropdown-item dropdown-submenu"
				>
					<a>{{ capitalize(langage) }}</a>
					
					<div
						class="dropdown-menu langage-submenu"
						:class="{ thème_sombre: thèmeSombre }"
					>
						<perfect-scrollbar>
							<button
								présentation_étape="4.1"
								class="dropdown-item"
								@click="reinitialiserCodeEditeur(langage)"
							>
								{{ $t("avancement.ébauche_initiale") }}
							</button>
							<button
								v-for="elem in filtrerTentativesParLangage(langage)"
								:key="elem.liens.self"
								présentation_étape="4.2"
								class="dropdown-item"
								:value="elem.liens.self"
								@click="chargerTentative()"
							>
								{{ elem.réussi ? "  &#9989;" : "  &#10060;" }}
								{{ timestampVersDate(elem.date_soumission) }}
								<v-icon icon="mdi-comment" size="small" color="var(--aqua)" v-if="elem.commentaires.length > 0"></v-icon>
							</button>
						</perfect-scrollbar>
					</div>
				</li>
			</ul>
		</div>
		
	</div>
	
</template>

<script src="./avancement.js"></script>
<style scoped src="./avancement.css"></style>
