.bouton_langage{
	font-size: 1rem;
}

.thème_sombre li a,
.thème_sombre li button,
.thème_sombre li {
	color: #ffffff !important;
}

.thème_sombre .dropdown-item:hover {
	background-color: #999 !important;
}

.thème_sombre .diff.différent.ins,
.thème_sombre .diff.différent.del {
	background-color: transparent;
}

.dropdown-menu {
	border-radius: 0;
	margin-top: 0rem;
	border-color: rgba(var(--gris));
}

.dropdown-toggle {
	margin-left: -3px;
	min-width: 4rem;
	border: 0px;
	padding: 0rem 0.5rem 0.1rem 0.5rem;
	margin: 0.1rem;
}

.dropdown-toggle:hover,
.dropdown-toggle.show {
	background-color: #d3d3d3;
}

.thème_sombre .dropdown-toggle:hover,
.thème_sombre .dropdown-toggle.show {
	background-color: #999 !important;
}

.section-avancement {
	border: 0.063rem solid #d3d3d3;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	left: 100%;
	margin-top: -2.3rem;
	border-radius: 0;
}

.dropdown-submenu>.dropdown-menu>.ps {
	max-height: 25rem;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 0.313rem 0 0.313rem 0.313rem;
	border-left-color: #ccc;
	margin-top: 0.313rem;
	margin-right: -0.625rem;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 0.625rem;
	border-radius: 0;
}

