<template>
	<div>
		<div v-if="solutions !== null">
			<v-container>
				<v-row
					v-for="(solution, i) in solutions" :key="i">
					<v-col>
						{{i}}
						<span style="color: gray">
							réussi le {{timestampVersDate(solution.date_soumission)}}
						</span>
						<v-card>
							<v-card-subtitle>
								{{ solution.langage }}
							</v-card-subtitle>
							
							<v-card-text >
								<Codemirror
									:value="solution.code"
									:options="cmOptions"
								/>
							</v-card-text>
						</v-card>
					</v-col>
				</v-row>
			</v-container>
		</div>
		<div v-else>
			{{ $t('solutions.aucune_solution') }}
		</div>

	</div>

</template>

<script src="./solutions_partagées.js"></script>
