<template>
	<v-container fluid>
		<v-row align="center" justify="center">
			<v-col cols="12" sm="10" md="8">
				<v-card class="elevation-12 carte-profil" style="overflow-y: auto;">
					<v-card-title class="primary titre-profil">
						<span class="headline white--text">Profil de {{ nom }}</span>
					</v-card-title>
					<v-card-text>
						<v-row align="center">
							<v-col cols="12" md="6" class="ligne-info-profil">
								<v-icon left>mdi-account</v-icon>
								<strong>Nom Complet:</strong> {{ nom }}
							</v-col>
							<v-col cols="12" md="6" class="ligne-info-profil">
								<v-icon left>mdi-email</v-icon>
								<strong>Email:</strong> {{ email }}
							</v-col>
							<v-col cols="12" class="ligne-info-profil">
								<v-icon left>mdi-school</v-icon>
								<strong>Biographie:</strong> {{ biographie }}
							</v-col>
							<v-col cols="12" class="ligne-info-profil">
								<v-icon left>mdi-code-tags</v-icon>
								<strong>Liste de connaissances:</strong> {{ connaissances }}
							</v-col>
							<v-col cols="12" class="ligne-info-profil">
								<v-icon left>mdi-trophy-award</v-icon>
								<strong>Accomplissements:</strong> {{ accomplissements }}
							</v-col>
						</v-row>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>
  
<script>
import { useMeta } from "vue-meta";
  
export default {
	setup() {
		useMeta({
			title: "Profil Utilisateur | Progression",
			htmlAttrs: { lang: "fr", amp: true }
		});
	},
	data() {
		return {
			username: "Dini",
			nom: "Dini",
			email: "",
			biographie: "",
			connaissances: "",
			accomplissements: ""
		};
	},
	created() {
		// Récupérer les données du profil recherché depuis la route ou via une API
		this.nom = this.$route.query.nom;
		this.email = this.$route.query.email;
		this.biographie = this.$route.query.biographie;
		this.connaissances = this.$route.query.connaissances;
		this.accomplissements = this.$route.query.accomplissements;
	}
};
</script>
  