.test_réussi {
	background-color: #80cc8e;
}

.test_non_réussi {
	background-color: #cd5c5c;
}

.progress {
	height: 0.75rem;
	border-radius: 0;
	background-image: repeating-linear-gradient(-45deg, #ccc, #ccc 30px, #dbdbdb 30px, #dbdbdb 60px);
}

.rétroaction-générale {
	height: 0px;
	position: relative;
	top: -3rem;
	right: 0rem;
}
