<template>
	<v-menu>
		<template v-slot:activator="{props}">
			<v-list-item
				:prepend-icon="menu.icon"
				:prepend-avatar="menu.avatar"
				:value="menu.value"
				v-bind="props">{{ menu.title }}
			</v-list-item>
		</template>

		<v-list
			density="compact"
			nav
		>
			<div v-for="s_menu,i in menu.sous_menus" :key="i">
				<v-list-group
					v-if="s_menu.sous_menus"
					@click.stop
				>
					<template v-slot:activator="{props}">
						<v-list-item
							density="compact"
							:title="s_menu.title"
							:prepend-icon="s_menu.icon"
							:value="s_menu.value"
							v-bind="props"
						>
						</v-list-item>
					</template>

					<v-list-item
						v-for="item, i in s_menu.sous_menus"
						:style="item.activé!==false ? '' : 'display:none'"
						:key="i"
						:title="item.title"
						:prepend-icon="item.icon"
						:value="item.value"
						v-on:click="item.action"
					>
					</v-list-item>
				</v-list-group>
				<v-list-item v-else
					:title="s_menu.title"
					:style="s_menu.activé!==false ? '' : 'display:none'"							 
					:prepend-icon="s_menu.icon"
					v-on:click="s_menu.action"
				/>

			
			</div>
		</v-list>
	</v-menu>
</template>

<script src="./menu.js"/>
