<template>
	<v-container style="overflow: scroll" v-if="user">
		<v-row>
			<v-col>
				<v-card>
					<v-card-title>{{$t("profil.titre")}}</v-card-title>

					<!-- Identification -->
					<v-form
						v-if="user"
						:disabled="!modifiable"
						:readonly="!modifiable"
					>
						<v-list>
							<v-list-item>
								<!-- Prénom -->
								<v-card
									prepend-icon=mdi-account
									:title="$t('profil.identification')">
									<v-text-field
										v-model="user.prénom"
										@update:focused="onPrénomChangé"
										@keydown.enter="onPrénomChangé"
										:rules="[règles.taille_max]"
										:label="$t('profil.prénom')">
									</v-text-field>

									<!-- Nom-->
									<v-text-field
										v-model="user.nom"
										@update:focused="onNomChangé"
										@keydown.enter="onNomChangé"
										:rules="[règles.taille_max]"
										:label="$t('profil.nom')">
									</v-text-field>

									<!-- Nom Complet-->
									<v-text-field
										v-model="user.nom_complet"
										@update:focused="onNomCompletChangé"
										@keydown.enter="onNomCompletChangé"
										:rules="[règles.taille_max]"
										:label="$t('profil.nom_complet')">
									</v-text-field>
								</v-card>

								<!-- Pseudonyme -->
								<v-text-field
									v-model="user.pseudonyme"
									@update:focused="onPseudoChangé"
									@keydown.enter="onPseudoChangé"
									:rules="[règles.pseudonyme, règles.taille_max]"
									:label="$t('profil.pseudo')">
								</v-text-field>
								
							</v-list-item>

							<!-- Courriel -->
							<v-list-item v-if="user.courriel">
								<v-card
									prepend-icon="mdi-email"
									:title="$t('profil.courriel')"
									:rules="[règles.taille_max]">
									<v-text-field v-model="user.courriel" disabled readonly>
									</v-text-field>
								</v-card>
							</v-list-item>

							<!-- Avatar -->
							<v-list-item>
								<v-card
									prepend-icon="mdi-account-circle"
									:title="$t('profil.avatar.titre')">

									<v-text-field v-model="avatar"
										@update:focused="onAvatarChangé"
										@keydown.enter="onAvatarChangé"
										:rules="[règles.url, règles.taille_max]"
										:placeholder="$t('profil.avatar.libellé')"
									>
										<template v-slot:append-inner>
											<v-avatar
												size="large">
												<v-img :src="avatar"></v-img>
											</v-avatar>
										</template>
									</v-text-field>
								</v-card>
							</v-list-item>

							<!-- Occupation-->
							<v-list-item>
								<v-card
									prepend-icon="mdi-account-supervisor"
									:title="$t('profil.occupation')">

									<v-select
										:items="occupations"
										v-model="user.occupation"
										item-value="valeur"
										item-title="étiquette"
										@update:modelValue="onOccupationChangé">
									</v-select>
								</v-card>
							</v-list-item>

							<!-- Biographie -->
							<v-list-item>
								<v-card
									prepend-icon="mdi-school"
									:title="$t('profil.biographie')">
									<v-textarea
										v-model="user.biographie"
										@update:focused="onBioChangé">
										:rules="[règles.taille_bio_max]"
									</v-textarea>
								</v-card>
							</v-list-item>
						</v-list>
					</v-form>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>


<script src="./profil.js"></script> 
