<template>
	<v-btn v-show="rôleÉditeur"
		@click="basculerXray"
		value="true"
		size="small"
		rounded="0"
		flat
		:title="$t('editeur.xray')"
	>
		<v-icon
			:icon="xray ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
		/>
	</v-btn>

	<v-btn v-show="rôleÉditeur"
		@click="copy"
		:loading="copié"
		size="small"
		rounded="0"
		flat
		:title="$t('editeur.copier')"
	>
		<v-icon
			icon="mdi-content-copy"
		/>
		<template #loader>
			{{$t('editeur.copié')}}
		</template>
	</v-btn>

</template>
<script src="./toolbar.js"></script>
