:root{
	/* corrige un problème de couleur dans le menu */
	--v-theme-overlay-multiplier: 1;
	--panneau-light: #212529;
	--hauteur-entête: 1.8rem;
	--largeur-boutons-entête: 2.5rem;
	--gris: 128, 128, 128, 0.25;
	--aqua: #0dcaf0b2;
}

.contenu {
	height: calc(100vh - 64px);
	overflow: hidden;
	background-color: rgb(var(--bs-white-rgb));
}

body {
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

.full-flex {
	height: 100%;
	width: 100%;
	display: flex;
}

.ffcolumn{
	flex-flow: column;
}

.ffrow{
	flex-flow: row;
}

.barBtn {
    color: rgba(13, 202, 240, 85%);
    font-size: 1.7rem;
    margin-right: 1.2rem;
}

.dropdown-menu[data-bs-popper] {
	top: 100%;
	left: initial !important;
	right: 0;
	width: max-content;
	margin-top: 1rem !important;
	background-color: var(--panneau-light);
	transform-origin: top center;
	animation: translateY 500ms ease-in-out forwards;
}


.dropdown-menu .dropdown-submenu-p {
	width: 200px !important;
	background-color: var(--panneau-light);
	transform-origin: bottom right;
	animation: translateX 500ms ease-in-out forwards;

	display: none;
	position: absolute;
	left: 100%;
	top: 2.5rem;
}

.dropdown-menu .dropdown-submenu-left {
	right: 100%;
	left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu-p {
	display: block;
}

.btnDMM:hover {
	border-left-color: #0082e6;
	border-right-color: #0082e6;
	background-color: rgb(0, 0, 0, 0.1);
}

.btnDMM {
	margin-left: -2px;
	border-left: solid transparent;
	border-right: solid transparent;
}

.text-info {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
}

.text-username {
	color: rgb(234, 229, 229);
	margin-left: auto;
	margin-right: 0.5rem;
}

.padding {
	padding-left: 0.5rem;
}

.icône {
	margin-right: 0.5rem;
	transform: scale(1);
	padding-right: 0.5rem !important;
	padding-bottom: 1rem;
}

.icône-déconnexion {
	transform: scale(1.1);
	padding-right: 0.8rem !important;
	margin-left: -0.1rem !important;
}

.icône-connexion {
	padding-right: 0.4rem !important;
}

.input-thème {
	margin-top: 1rem;
}

.loader-parent {
	position:fixed;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 60%;
	align-items: center;
	display: flex;
	justify-content: center;
	z-index: 9999;
}

.loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid rgba(13, 202, 240, 85%);
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes translateY {
	0% {
		opacity: 0;
		transform: translateY(-40px);
	}

	80% {
		transform: translateY(0px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes translateX {
	0% {
		opacity: 0;
		transform: translateX(40px);
	}

	80% {
		transform: translateX(0px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.splitpanes .splitpanes__pane {
	border-left-style: none;
	background-color: rgb(var(--bs-white-rgb));
}

.splitpanes--vertical > .splitpanes__splitter {
	min-width: 6px;
	background-color: rgb(var(--bs-light));
}

.splitpanes--horizontal > .splitpanes__splitter {
	min-height: 6px;
	background-color: rgb(var(--bs-light));
}

.gris {
	background-color : rgba(var(--gris));
}
