<template>
	<v-btn
		value="true"
		size="small"
		rounded="0"
		flat
		:loading="copié"
	>
		<template #loader>
			{{$t('editeur.copié')}}
		</template>

		<v-icon>mdi-share-variant</v-icon>

		<v-menu activator="parent" location="bottom end" transition="fade-transition">
			<v-list density="compact" slim>
				<v-list-item prepend-icon="mdi-clipboard-outline"
					:title="$t('partage.copier')"
					@click="copierLienTentative">

				</v-list-item>
				<div v-if="indicateur_partage">
					<v-list-item>
						<div
							:title="partageable ? '' : $t('partage.non_partageable')">
							<v-switch v-model="publique"
								:disabled="!partageable"
								color="info"
								@change="basculerSolutionPublique"
								@click.stop>
								<template v-slot:label>
									{{tentative.publique ? $t('partage.publique') : $t('partage.privée')}}
									<v-tooltip :text="$t('partage.aide')">
										<template v-slot:activator="{ props }">
											<v-icon v-bind ="props" size="small" icon="mdi-help-circle-outline"/>
										</template>
									</v-tooltip>
								</template>
							</v-switch>
						</div>
					</v-list-item>
					<v-list-item >
						<div :title="état_réussi ? '' : $t('partage.non_réussie')">
							<v-btn :disabled="!état_réussi" @click="allerAuxSolutions" color="info" append-icon="mdi-open-in-new">{{ $t('partage.voir_solutions') }}</v-btn>
						</div>
					</v-list-item>
				</div>
			</v-list>
		</v-menu>
	</v-btn>
</template>

<script src="./partage.js"></script>

