<template>
	<div
		v-if="user && séquence && avancement"
	>
		<div>
			<Présentation
				v-if="démo"
				présentation_étape="00"
			/>
		</div>
		<div
			class="full-flex ffrow"
			style="padding: 7px"
		>
			<Diptyque droite="fixe" :size_gauche="taillePanneauÉnoncé" :size_droite="100-taillePanneauÉnoncé" @redimensionnéGauche="redimensionnéÉnoncé">

				<template #gauche>
					<Diptyque horizontal="true" :droite="séquence && Object.keys(séquence.questions).length > 1 ? '' : 'caché'" gauche="fixe" :size_droite="taille_menu_séquence">
						<template #gauche>
							<Enonce
								présentation_étape="0"
							/>
						</template>
						<template #entête_droite>
							<TitreSéquence/>
						</template>
						<template #droite>
							<MenuSéquence v-if="séquence" />
						</template>
					</Diptyque>
				</template>

				<template #droite>
					<Diptyque horizontal="true" gauche="fixe" :droite="question_type=='seq'?'caché':'fixe'" :size_gauche="tailleÉditeur" :size_droite="100-tailleÉditeur" @redimensionnéGauche="redimensionnéÉditeur">
						<template #gauche>
							<Diptyque :size_droite="!tentative_modifiée && ligneCommentairesAffichés >= 0 ? 25 : 0" :droite="!indicateursDeFonctionnalitéCommentaires || tentative_modifiée ? 'caché' : ''">
								<template #entête_gauche v-if="question_type=='prog'">
									<div class="full-flex ffrow" style="padding-right: 0.5rem">
										<Avancement
											présentation_étape="2"
											:title="$t('avancement.choixLangage')"
										/>
										<v-spacer/>
										<EditeurToolbar/>
										<Partage/>
									</div>
								</template>
								<template #gauche>
									<div v-if="question_type=='prog'" class="full-flex ffcolumn">
										<EditeurCode style="flex-grow: 1; overflow: auto"
											v-if="tentative"
											présentation_étape="1"
											@commentaire="onCommentaire"
										/>
										<div style="position: relative; height: 0.75rem">
											<RetroactionTentative/>
										</div>
									</div>
									<div v-if="question_type=='sys' && tentative?.url_terminal" class="full-flex ffcolumn">
										<TTYShare :url="tentative.url_terminal">
										</TTYShare>
									</div>
								</template>
								<template #entête_droite><v-icon icon="mdi-comment" style="color: rgb(13, 202, 240,70%)"></v-icon></template>
								<template #droite>
									<PanneauCommentaire :créerCommentaire="créerCommentaire">
									</PanneauCommentaire>
								</template>
							</Diptyque>
							
						</template>
						<template #entête_droite
						>
							<div class="full-flex ffrow" >
								<div style="width: fit-content">
									{{ $t("jeu_tests.jeuTests") }}
								</div>
								<div>
									<BoutonRéinitialiserTests />
								</div>
							</div>
						</template>
						<template #droite>
							<onglets-information
								présentation_étape="4"
							/>
						</template>
					</Diptyque>
				</template>
			</Diptyque>
		</div>
	</div>
</template>

<script src="./question.js"></script>
<style src="./question.css" ></style>
<style src="../../css/mainMenu.css"></style>
