<template>
	<div class="full-flex ffcolumn">
		<div style="flex-grow: 1; overflow: scroll">
			<v-list activatable>
				<v-list-item  v-for="avancement, index in avancements" :key="index" :active="id_question==index">
					<template #prepend>
						<v-icon v-if='avancement?.état == "réussi"' color="success" icon="mdi-checkbox-marked-circle-outline">
						</v-icon>
						<v-icon v-else-if='avancement?.état == "non_réussi"' color="danger" icon="mdi-close-circle-outline">
						</v-icon>
						<v-icon v-else-if='avancement?.état == "début"' color="warning" icon="mdi-circle-outline">
						</v-icon>
					</template>
					<v-list-item-title @click="selectionQuestion(index)">
						{{avancement?.titre}}
					</v-list-item-title>
					
				</v-list-item>
			</v-list>
		</div>
		<div>
		</div>			

		<v-progress-linear color="success" v-model="pourcentage_réussite" class="progress" height="25" >
			<strong class="progressTexte">{{ pourcentage_réussite }}%</strong>
		</v-progress-linear>
		
	</div>
	
</template>

<script src="./menu_séquence.js"></script>

<style src="./menu_séquence.css"></style>
