<template>
	<div style="display: flex; margin-top: 2px">

		<v-btn color="transparent"  style="flex-grow: 0;" size="x-small" flat icon="mdi-chevron-left" @click="questionPrécédente"/>
		
		<v-list-item style="flex-grow: 1; text-align: center; margin-top: -3px" :title=titre>
		</v-list-item>

		<v-btn color="transparent"  style="flex-grow: 0;" size="x-small" flat icon="mdi-chevron-right" @click="questionSuivante" />
	</div>
</template>

<script src="./titre_séquence.js"></script>
