.btn-valider {
	margin: 0.5rem;
	padding: 0.5rem;
	align-items: center;
	display: flex;
	flex-flow: row;
}
.btn-valider:hover {
	transform: scale(1.05);
}

.btn-valider-avertissement {
	position: relative;
	top: -3.8rem;
	left: 5.2rem;
}

.btn-valider-avertissement:hover {
	transform: scale(1.25);
}

.message_erreur {
	width: 20rem; 
}
