<template>
	<metainfo>
		<template #title="{ content }">
			{{ content ? `${content} | Progression` : `Progression` }}
		</template>
	</metainfo>
	<v-app :theme="thèmeSombre?'dark':'light'" :class="{thème_sombre: thèmeSombre}">
		<v-main v-if="!encadrable">
			{{$t('erreur.cadre.message')}}<br><br><a href="" onclick="window.open(window.location.href, '_blank');">{{$t('erreur.cadre.redirection')}}</a>
		</v-main>
		<v-main v-else>
			<v-app-bar
				v-if="!embed"
				border="1"
				flat>
				<v-app-bar-title>
					<div>
						<div
							@click="allerVers('Home')"
							style="cursor:pointer; width: fit-content"
							class="font-family-serif"
						>
							<span style="color:rgb(13,202,240); font-weight: bold">Prog</span>ression
							<span v-show="dev" title="interface expérimentale">
								🥼
							</span>
						</div>
					</div>
				</v-app-bar-title>
				<div  v-if="user">
					<Menu
						:menu="menus_profil"
					/>
				</div>

				<div v-else>
					<v-btn
						@click="connexion"
					><v-icon icon="mdi-login" />{{ $t('menu.connexion') }}</v-btn>
				</div>

			</v-app-bar>

			<BannièreErreur style="width: 75vw" />
			<NavBar v-if="user"
				@nouvelExercice="nouvelExercice"
				@banques="allerVersBanques"
				@accomplissements="allerVers('Accomplissements')"
			/>

			<div v-show="enChargement" class="loader-parent">
				<div class="loader">
				</div>
			</div>

			<DialogURL :ouvrir="dialogNouvelExercice" @ok="(url) => ouvrirNouvelExercice(url)" />

			<router-view class="contenu" />

		</v-main>
	</v-app>
</template>

<script>
import { useMeta } from "vue-meta";
import BannièreErreur from "@/components/bannière/bannière_erreur.vue";
import NavBar from "@/components/navbar/navbar.vue";
import Menu from "@/components/menu/menu.vue";
import DialogURL from "@/components/dialogurl/dialogurl.vue";

export default {
	name: "App",
	setup () {
		useMeta({
			title: "Progression",
			htmlAttrs: { lang: "fr", amp: true }
		});
	},
	components: {
		BannièreErreur,
		NavBar,
		DialogURL,
		Menu
	},
	data() {
		return {
			cb_auth: null,
			cb_auth_params: null,
			dialogNouvelExercice: false,
			dev: this.$store.getters.dev,
			embed: false,
			profil: new Boolean(true),
			prefs: new Boolean(false)
		};
	},
	created() {
		const username = sessionStorage.getItem("username") || localStorage.getItem("username");
		if(username){
			this.$store.dispatch("setUsername", username);
		}
		this.traiterParamètresURL( window.location.search );
	},
	computed: {
		menus_profil() {
			return {
				title: this.user.pseudonyme,
				icon: this.user.avatar ? "" : "mdi-account-circle",
				avatar: this.user.avatar,
				value: this.profil,
				sous_menus: [
					{
						title: this.$t("profil.titre"),
						icon: "mdi-account-circle",
						action: () => this.allerVers("Profil"),
						activé: this.indicateursDeFonctionnalitéProfil
					},
					{
						title: this.$t("menu.accomplissement"),
						icon: "mdi-laptop",
						action: () => this.allerVers("Accomplissements")
					},
					{
						title: this.$t("menu.préférences"),
						icon: "mdi-tune",
						value: this.prefs,
						sous_menus: [
							{
								title: this.$t(this.locale=="fr" ? "menu.english":"menu.français"),
								subtitle: "test",
								icon: "mdi-translate",
								value: "langue",
								action: () => this.basculerLocale() },
							{
								title: this.$t(this.thèmeSombre ? "menu.thèmeClair":"menu.thèmeSombre"),
								icon: "mdi-theme-light-dark",
								value: "thème",
								action: () => this.basculerThèmeSombre() },
							{
								title: this.$t(this.versionTest ? "menu.versionStandard" : "menu.versionTest"),
								icon: "mdi-test-tube",
								value: "versionTest",
								action: () => this.basculerVersion(),
								activé: this.indicateursDeFonctionnalitéVersionTest
							},
						]
					},
					{
						title: this.$t("menu.déconnexion"),
						icon: "mdi-logout",
						action: this.déconnexion
					}
				]
			};
		},
		user() {
			return this.$store.state.user;
		},
		username() {
			return this.$store.state.username;
		},
		enChargement() {
			return this.$store.state.enChargement;
		},
		thèmeSombre() {
			return this.$store.getters.thèmeSombre;
		},
		encadrable(){
			try {
				return this.embed || window.self === window.top;
			} catch (e) {
				return false;
			}
		},
		indicateursDeFonctionnalitéVersionTest(){
			return this.$store.getters.indicateursDeFonctionnalité("version_test");
		},
		indicateursDeFonctionnalitéProfil(){
			return this.$store.getters.indicateursDeFonctionnalité("profil");
		},
		versionTest(){
			return this.$store.getters.dev;
		},
		locale() {
			return this.$store.getters.locale;
		}
	},
	methods: {
		traiterParamètresURL( paramètres ){
			var urlParams = new URLSearchParams(paramètres);

			if(urlParams.has("tkres")){
				this.$store.dispatch("setTokenRessources", urlParams.get("tkres"));
			}

			if(urlParams.has("embed")){
				this.embed = urlParams.get("embed");
			}

			if(urlParams.has("ltik")){
				this.$store.dispatch("setLtik", urlParams.get("ltik"));
			}

		},
		connexion(){
			this.allerVers("LoginView");
		},
		nouvelExercice() {
			this.dialogNouvelExercice=!this.dialogNouvelExercice;
		},
		déconnexion(){
			this.$store.dispatch("déconnexion");
			this.$router.push( {name: "Home"} );
		},
		basculerThèmeSombre() {
			this.$store.dispatch("basculerThèmeSombre");
		},
		basculerVersion() {
			const version = this.$cookies.get("fe_version");
			this.$cookies.set("fe_version", version != "dev" ? "dev" : "prod");
			window.location.reload();
		},
		basculerLocale() {
			this.$store.dispatch("basculerLocale");
		},
		allerVers( vue, query=null ){
			this.$router.push({
				name: vue,
				query: query
			});
		},
		ouvrirNouvelExercice(url) {
			if(url) {
				this.$store.dispatch("setUri", url);
				this.allerVers("Question", {uri: url});
			}
		},
		allerVersBanques(){
			this.allerVers("Banques");
		}
	}
};
</script>
<style src="./css/mainMenu.css"></style>
<style src="./css/theme-sombre.css"></style>
