<template>
	<div v-if="tentative.modifiée">
		{{$t('commentaire.tentative_non_soumise')}}
	</div>
	<div v-else class="full-flex flex-column">
		<div style="overflow: auto; flex-grow: 1" >
			<v-list>
				<v-list-item v-for="elem in commentairesParLigne" :key="elem.id">
					<v-card border="2" style="border-color: var(--aqua)" >
						<v-card-title>{{ elem.créateur }}</v-card-title>
						<v-card-subtitle style="color: var(--aqua)">{{ formatDate(elem.date) }}</v-card-subtitle>
						<v-card-text>{{ elem.message }}</v-card-text>
					</v-card>
				</v-list-item>
			</v-list>
		</div>
		<div >
			<v-card>
				<v-textarea  ref="submitBtn" v-model.trim="message"
					:disabled="!peutÊtreModifié"
					:label="$t('commentaire.placeholderCommentaire')"
					@focus="focusCommentaire"
					v-shortkey="raccourcis.soumettreCommentaire"
					@shortkey="() => {peutÊtreSoumis() && soumettreCommentaire()}"
					rows=5
				>
					<template v-slot:append-inner>
						<v-btn :disabled="!peutÊtreSoumis()"
							@click="soumettreCommentaire"
							variant="plain"
							append-icon="mdi-send"
							color="var(--aqua)"
						>
						</v-btn>
					</template>
				</v-textarea>
			</v-card>
		</div>
	</div>
</template>

<script src="./sidebar.js"></script> 
