.test {
	border: 0.15rem;
	padding: 0.3rem;
	border-style: solid;
}

.symbole_réussi::before {
	display: inline-block;
	margin-right: 0.5rem;
	font-size: 0.75rem;
	content: "✓";
	inset: 0;
}

.symbole_non_réussi::before {
	display: inline-block;
	margin-right: 0.5rem;
	font-size: 0.75rem;
	content: "⨯";
	inset: 0;
}

.test.réussi {
	background-color: #90F090;
	color: black;
}

.thème_sombre .test.réussi {
	background-color: #80cc8e;
	color: black;
}

.test.non_réussi {
	background-color: #ff6666a0;
	color: black;
}

.thème_sombre .test.non_réussi {
	background-color: #cd5c5c;
	color: white;
}

.sélectionné {
	background-color: #00000020;
}

.thème_sombre .sélectionné {
	border-color: white;
}

.non_sélectionné {
	border-color: transparent;
}

.visible {
	visibility: visible;
}