<template>
	<div v-if="petit_écran" class="full-flex ffcolumn">
		<div>
			<v-btn @click="afficher_nouvelle_banque">{{$t("banque_question.boutonAjouter")}}</v-btn>
			<NouvelleBanque :nouvelle_banque="nouvelle_banque" :montrer="nouvelle_banque_affiché" @ajouterBanque="ajouterBanque" />
		</div>
		<div>
			<v-list style="background: transparent">
				<v-list-item v-for="(sous_banque, id) in banques" :key="`banque-${id}`">
					<v-list-item-title>
						<Banque :banque="sous_banque"/>
					</v-list-item-title>
				</v-list-item>
			</v-list>
		</div>
	</div>

	<div v-else class="full-flex ffcolumn">
		<diptyque size_gauche="50" droite="fixe">
			<template #entête_gauche>
				{{ $t("banque_question.titreBanqueQuestions") }}
			</template>

			<template #gauche>
				<div class="full-flex ffcolumn">
					<div>
						<v-list style="background: transparent" >
							<v-list-item v-for="(sous_banque, id) in banques" :key="`banque-${id}`" style="padding: 0">
								<v-list-item-title>
									<Banque :banque="sous_banque"/>
								</v-list-item-title>
							</v-list-item>
							
							<v-list-item>
								<div>
									<v-btn @click="afficher_nouvelle_banque"><v-icon icon="mdi-plus"></v-icon></v-btn>
								</div>

							</v-list-item>
						</v-list>
					</div>
				</div>
			</template>

			<template #droite>
				<Questions :banque="banque_sélectionnée" />
			</template>

		</diptyque>
		<NouvelleBanque :montrer="nouvelle_banque_affiché" :nouvelle_banque="nouvelle_banque" @ajouterBanque="ajouterBanque" />
	</div>
</template>
<script src="./banques.js"></script>
