<template>
	<v-sheet class="background-blue" style="overflow: scroll">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="my-5">
						<h3>Profil de {{ nom_complet }}</h3>
						<hr>
					</div>
					<v-form class="file-upload" ref="form_modifier_profil">
						<div class="row mb-5 gx-5">
							<!-- Détails Profil -->
							<div class="col-xxl-8 mb-5 mb-xxl-0">
								<div class="bg-secondary-soft px-4 py-5 rounded">
									<div class="row g-3">
										<h4 class="mb-4 mt-0">Détails du profil</h4>
										<!-- Pseudonyme -->
										<div class="col-md-6">
											<v-text-field label="Pseudonyme" v-model="pseudo" required></v-text-field>
										</div>
										<!-- Nom d'utilisateur -->
										<div class="col-md-6">
											<v-text-field label="Nom d'utilisateur" v-model="pseudo" disabled></v-text-field>
										</div>

										<!-- Nom -->
										<div class="col-md-6">
											<v-text-field label="Nom Complet" v-model="nom_complet"
												:rules="[v => !!v || 'Le nom complet est obligatoire']" required></v-text-field>
										</div>
										<!-- Email -->
										<div class="col-md-6">
											<v-text-field label="Email" v-model="email" type="email"
												:rules="[v => !!v || 'L\'email est obligatoire']" required></v-text-field>
										</div>
										<!-- Biographie -->
										<div class="col-md-6" style="overflow-y: auto; max-height: 200px;">
											<v-textarea label="Biographie" v-model="biographie"></v-textarea>
										</div>
										<!-- Connaissances -->
										<div class="col-md-6" style="overflow-y: auto; max-height: 200px;">
											<v-textarea label="Connaissances" v-model="connaissances"></v-textarea>
										</div>
										<!-- Changement de mot de passe -->
										<div class="col-md-6">
											<v-text-field label="Nouveau mot de passe" type="password"></v-text-field>
										</div>
										<div class="col-md-6">
											<v-text-field label="Confirmer mot de passe" type="password"></v-text-field>
										</div>
									</div>
								</div>
							</div>

							<!-- Changer photo de profil -->
							<div class="col-xxl-4">
								<div class="bg-secondary-soft px-4 py-5 rounded">
									<div class="row g-3">
										<h4 class="mb-4 mt-0">Avatar</h4>
										<div class="text-center">
											<img class="profile-image" :src="avatar" alt="Image de profil"
												style="width: 250px; height: 250px;">
											<br>
											<br>
											<div class="gap-3 d-md-flex justify-content-md-center text-center">
												<v-btn color="info" @click="selectionFichier">Modifier</v-btn>
												<v-btn flat  @click="supprimer_photo">Supprimer</v-btn>
												<input type="file" @change="previewImage" ref="fileInput" style="display: none;">
											</div>
                    
										</div>
									</div>
								</div>
							</div>
							<div class="gap-3 d-md-flex justify-content-md-end text-center">
								<v-btn color="info" @click="validate">Sauvegarder</v-btn>
								<v-btn flat @click="annuler">Annuler</v-btn>
							</div>
						</div>

					</v-form>
        
				</div>
			</div>
		</div>
	</v-sheet>
</template>
<style>
.background-blue {
  background-color: #87CEEB;
  padding: 20px;
}
</style>
<script src="./modifier_profil"></script>  
  